.header
{
    background-color: rgb(7, 227, 70);
    font-size: 40px;
    color: black;
    font-family:'Courier New', Courier, monospace;
}

.myimg{
    width: 550px;
    height: 350px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.conbutton
{
    background-color: aquamarine;
    padding: 5px;
    margin-left: 5px;
    margin: 10px;
    width: 100px;
    color: red;
    font-size: 25px;
}


.homebutton
{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    width: 120px;
    color: red;
    font-size: 25px;
}

button
{
    background-color: aqua;
    color: black;
    padding:8px;
    font-size: 20px ;
}